@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}

ul {
  padding: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  padding: .75em;
  width: 24%;
}

nav a:hover {
  color: #8ded94;
  background-color: #888;
}

nav li {
  display: inline;
}

figure {
  margin: 0;
  padding-top: 3.4em;
}

.banner {
  width: 100%;
  display: block;
}

.img-flex {
  width: 100%;
  display: block;
}
